"*":
  "atom-language-rust":
    colors: {}
  "atom-material-ui":
    colors:
      abaseColor:
        red: 214
        green: 73
        blue: 55
        alpha: 1
      accentColor:
        red: 249
        green: 249
        blue: 249
        alpha: 1
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  crystal:
    compilerColorOutput: true
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "12738b4b-614d-0368-0175-9f362d9adff9"
  "git-status": {}
  linter: {}
  "linter-govet": {}
  "linter-puppet-lint":
    oldVersion: false
  "todo-manager": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
